swagger:  "2.0"

################################################################################
#                              API Information                                 #
################################################################################
info:
  version:      "0.1"
  title:        verification
  description:  "QA Test Verification Service"
  contact:
    name:       Nina
    email:      happykia530@gmail.com
# during dev, should point to your local machine e.g. event-hub-dev.hosted.exosite.io
host: 470ef4cdd4872f0a5112a628325122e5.m.pipedream.net
basePath: /
x-exosite-health-path: /
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json

################################################################################
#                                           Paths                              #
################################################################################
paths:
  /qa7640:
    post:
      operationId:  qa7640
      summary:      verify MUR-7640 issue.
      description:  verify MUR-7640 issue.
      parameters:
        - name:        parameters
          in:          body
          description: "must be 0> and <1"
          required:    true
          schema:
            type: number
            description: "must be 0> and <1"
            minimum: 0
            exclusiveMinimum: true
            maximum: 10
            exclusiveMaximum: true
      responses:
        "200":
          description: The result of sending data to event hub.
        "400":
          description: Required parameters are not valid or not provided
        default:
          description:  error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /info:
    get:
      tags:
        - insight
      operationId: info
      description: Get some info
      responses:
        "200":
          description: Insight Functions successfully listed
        default:
          description: Errors
################################################################################
#                                 Definitions                                  #
################################################################################

definitions:
  ErrorResponse:
    type: object
    description: Error response
    properties:
      error:
        type: string
        description: Error message
      status:
        type: integer
        description: Response code
      type:
        description: Error type
        type: string